.text {
    color: #ededed;
    font-size: 50px;
    
}

h1 {
    font-size: 61px;
}

.invert {
    filter: invert(100%);
    width: 100px;
    height: 100px;
}

.crop {
    width: 100px;
    height: 94px;
    overflow: hidden;
    position: absolute; 
    top: 10px; 
    left: 30px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

button {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

button:hover {
    background-color: #111111;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 200px;
    margin: 1%;
    width: 100%;
}
  
.grid-container {
display: flex;
flex-wrap: wrap;
padding: 0 0px;
}

.column {
flex: 20%;
max-width: 50%;
padding: 5px 8px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

@media (max-width: 1200px) {
.column {
    flex: 40%;
    flex-wrap: wrap;
    max-width: 50%;
}
}

@media (max-width: 600px) {
.column {
    flex: 50%;
    max-width: 100%;
}
}

@media (min-width: 1830px) {
.grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30%;
}
}

@media (max-width: 1830px) {
.grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
}
}

@media (max-width: 600px) {
h1 {
    font-size: 30px;
}
}

@media (max-width: 600px) {
li {
    font-size: 11px;
}
}

@media (max-width: 600px) {
li a {
    padding: 8px;
}
}

@media (max-width: 600px) {
.crop img {
    width: 0px;
    height: 0px;
}
}

footer {
    background-color: black;
    height: 300px;
    position: relative;
    top: 500px;
}

.accordion {
    transition: 0.4s;
}
  
.active, .accordion:hover {
    background-color: rgb(0, 0, 0); 
}
  
.panel {
    width: 200px;
    padding: none;
    display: none;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

li.dropdown {
    float: none;
}